<div class="container">
    <h3 class="font-weight-bold d-flex align-items-center justify-content-center text-danger">
        <i class="bi bi-flag-fill px-2"></i>
        {{banner}}
    </h3>
    {{>comics_display}}
    {{>pagination}}
</div>