<div class="col-sm-2">
    <div class="card mb-3 border-0 shadow">
        <div class="list-group list-group-flush fs-5">
            <a href="/admin/user-management"
                class="list-group-item list-group-item-action
                 {{#if is_user_management}}bg-dark text-white{{/if}}">
                Users
            </a>    
            <a href="/admin/publisher-requests"
                class="list-group-item list-group-item-action 
                {{#if is_publisher_requests}}bg-dark text-white{{/if}}">
                Requests
            </a>
            <a href="/admin/tag-management"
                class="list-group-item list-group-item-action 
                {{#if is_tag_management}}bg-dark text-white{{/if}}">
                Tags
            </a>
        </div>
    </div>
</div>