<style>
  .empty-col{ max-width:12px}
</style>

<div class="container my-2 rounded-2">
  <div class="row h-auto" id="notification">
    <div class="col bg-primary empty-col"></div>
    <div class="col bg-light pt-3">
      <p>Bấm vào link này để lấy lại danh sách theo dõi và lịch sử đọc truyện
        <span class="text-warning"> tại đây</span>.
        <br />
        Nếu web/ảnh load chậm,
        <span class="text-warning">TẢI NGAY ứng dụng VPN (1.1.1.1) tại đây</span>
        để cải thiện tốc độ.</p>
    </div>
  </div>
</div>