<div class="container">
  <h3
    class="font-weight-bold d-flex align-items-center justify-content-center text-danger"
  >
    <i class="bi bi-cloud-arrow-up-fill px-2"></i>
    New Updates
  </h3>
  {{>comics_display}}
  {{>pagination}}
</div>